body{
    width: 10wh;
    height: 100vh;
}

.input__box{
    box-shadow: inset 0 0 5px black;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

body{
    background: rgb(114,188,228);
background: linear-gradient(96deg, rgba(114,188,228,0.7889749649859944) 0%, rgba(15,166,141,0.5872942927170868) 66%, rgba(218,157,227,0.9794511554621849) 100%);
}